/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Helper */
.align-left {
  float: left;
}

.align-right {
  float: right;
}

.center {
  text-align: center;
}

.margin-bottom-10 {
  margin-bottom: 1rem;
}

.margin-bottom-20 {
  margin-bottom: 2rem;
}

.margin-right-20 {
  margin: 0rem 2rem 0rem 0rem;
}

.padding-20-20 {
  padding: 2rem 2rem;
}

/* General */
@@font-face {
  font-family: 'Montserrat', sans-serif;
  src: local('Montserrat-Regular.ttf'), url(Montserrat/Montserrat-Regular.ttf) format('truetype');
}

@@font-face {
  font-family: 'Montserrat-ExtraBold', sans-serif;
  src: local('Montserrat-ExtraBold.ttf'), url(Montserrat/Montserrat-ExtraBold.ttf) format('truetype');
}

@@font-face {
  font-family: 'Raleway', sans-serif;
  src: local('Raleway-Regular.ttf'), url(Raleway/Raleway-Regular.ttf) format('truetype');
}

@@font-face {
  font-family: 'Raleway-SemiBold', sans-serif;
  src: local('Raleway-SemiBold.ttf'), url(Raleway/Raleway-SemiBold.ttf) format('truetype');
}

html {
  font-size: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
}

* {
  box-sizing: border-box;
}

.section-type {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #666666;
}

.section-title {
  font-family: 'Montserrat-ExtraBold', sans-serif;
  font-size: 1.8rem;
  line-height: 2.2rem;
  padding-bottom: 0.7rem;
  display: inline-block;
  color: #333333;
  text-decoration: none;
  border-bottom: 5px dotted #ff7f2a;
}

.section-highlight {
  background-color: #e6dfdf;
}

.paragraph {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #666666;
}

.path-down{
  /* border-left: 5px dotted #70C1CE; */
  border-image-repeat: url(../img/falling-leaves.svg);
  padding: 4rem 0rem 4rem 0rem;
  display: inline-block;
}

/* Hero */
#hero {
  margin: 0.6rem auto;
}

.hero-top {
  display: flow-root;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 20px 20px;
  overflow: hidden;
}

.logo {
  display: inline-block;
  width: 96px;
  max-width: 96px;
}

.nav li {
  display: inline-block;
}

.nav li a {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 3.0rem;
  margin-bottom: 3.0rem;
  padding-bottom: 0.3rem;
  border-bottom: 0.4rem solid transparent;
  color: #C87137;
  transition: border-bottom 0.3s;
}

.nav li a:hover {
  border-bottom: 0.4rem solid #C87137;
  transition: border-bottom 0.3s;
}

.cta {
  display: inline-block;
  padding: 1.3rem;
}

.cta-image {
  padding: 0.1rem;
}

.cta-info {
  padding: 6px;
}

.cta-info a {
  font-family: 'Montserrat-ExtraBold', sans-serif;
  font-size: 3.2rem;
  line-height: 4.0rem;
  font-weight: 800;
  color: #FF7F2A;
  text-decoration: none;
}

.cta-info p {
  font-family: 'Montserrat-ExtraBold', sans-serif;
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 800;
  color: #C87137;
  padding: 1.2rem;
}

/* Dev Type */
#dev-type .container {
  text-align: center;
  padding: 0.8rem 0.8rem;
}

.dev-type {
  width: 33.33%;
  float: left;
  padding: 6px 6px;
}

.dev-type p {
  font-family: 'Raleway-SemiBold', sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 1.6rem 1.6rem;
  margin: 1.6rem 1.6rem;
  color: #646464;
	-webkit-box-shadow: 0px 0px 50px -10px rgba(179,179,179,0.7);
	-moz-box-shadow: 0px 0px 50px -10px rgba(179,179,179,0.7);
	box-shadow: 0px 0px 50px -10px rgba(179,179,179,0.7);
}

.dev-type-row {
  overflow: hidden;
  margin-top: 2.0rem;
}

/* About */
